.header{
    display: flex;
    align-items: center;
    background-color: #678D8B;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.header .logo{
    max-height: 75px;
}
.header .title-group{
    padding-left: 25px;
    color: #FFFFFF;
}
.header .title-group i{
    padding-right: 5px;
}
